.ag-theme-balham {
  .ag-header-cell-label,
  .ag-header-cell {
    text-align: center;
    justify-content: center;
    color: #000000a6;
  }
  .grid-header-selection {
    justify-content: left;
  }
}
