$-border-color: #d9dcde !default;
.grid-container {
  height: 100%;
}
.ag-header-cell {
  background-color: #e6f0fa;
}
.ag-theme-balham {
  height: 100%;
  .ag-header-cell {
    height: 100%;
    border-right: 1px solid $-border-color;
    box-sizing: border-box;
    border-color: $-border-color;
  }
  .ag-ltr {
    .ag-cell {
      border-right: 1px solid $-border-color;
      box-sizing: border-box;
    }
  }
  .ag-row-selected {
    background-color: #d1f0ff;
    border-color: $-border-color;
    .ag-cell {
      background-color: #d1f0ff;
    }
  }
  .ag-header-cell::after,
  .ag-header-group-cell::after {
    border-right: none;
    height: 100%;
  }
  .ag-ltr .ag-row.ag-cell-last-left-pinned,
  .ag-ltr .ag-cell:not(.ag-cell-focus).ag-cell-last-left-pinned {
    border-right: 1px solid $-border-color;
  }
  .ag-cell-inline-editing .ag-cell-edit-input,
  .ag-cell-inline-editing .ag-input-text-wrapper,
  .ag-input-text-wrapper input[type='text'] {
    border: none;
  }
  .ag-popup {
    height: auto;
    & > div {
      box-shadow: none;
      border: none;
    }
  }
  ul,
  li {
    border: none;
    outline: none;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .vito-grid-cell-selection {
    .ag-cell-wrapper {
      justify-content: center;
    }
  }
}
